.main{
	background-color: #f6f6f6 !important;
	width: 100% !important;
}

.menuview{
	background-color: #ECECEC;
	margin-left: 0px !important;
}
.menuview li{
	margin: auto;
	height: 50px;
	text-align: center;
}
.menuview li a{
	line-height: 2.7;
	font-size: 20px;
}
.menuview a:hover{
	text-decoration: none;
	color: red;
	cursor: pointer;
}

.active {
	color: red;
}
.menuview a:active{
	color: red;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.product{
	margin-top: 10px;
	margin-bottom: 10px;
}

.product p{
	margin-bottom: 0px;
	text-align: center;
	color: #03ae03;
}

.product img{
	margin: 0 auto !important;
}
.productdetail{
	margin: 0px 0px 0px 0px !important;
	font-weight: bold;
	font-size: 16px;
	height: 100px;
}


/*========== Mobile First Method ==========*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.menuview{
		width: 100%;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.menuview{
		width: 100%;
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.menuview{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menuview{
		width: 97% !important;
		position: relative;
		left: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.menuview{
		width: 97% !important;
		position: relative;
		left: 16px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}