.main{
	background-color: white !important;
	width: 100% !important;
}

.productimage{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.maintitle p{
	margin: 0px!important;
}
#title{
	margin-top: 20px !important;
	font-size: 26px;
}
#location > *{
	color: #555555;
}
.rating{
	margin-top: 20px;
}

ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item2 {
    float: left;
	border: none !important;
	background-color: #ECECEC !important;
}

.point{
	color: #03ae03!important;
	font-size: 28px;
	font-weight: bold;
}

.list-group-item2{
	height: 110px !important;
	text-align: center;
}

.ratingtotal{
	
}
.nomargin{
	margin: 20px 0px 20px 0px !important;
}
#usr{
    float:left;
    width:45%
}
#email{
    margin-left:10%;
    float:left;
    width:45%;
}
.comment-list li{
    list-style:none;
}
.comment-info{
    font-size:12px;
    color:#949494;
}
.user-name{
	font-family: serif;
    color:blue;
    font-size:16px;
    font-weight:900;
}
.tabcontent{
  display: none;
}
ul.tab li a:hover {
	background-color: #ddd;
	cursor: pointer;
}

/*========== Mobile First Method ==========*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 1000px) {
	.maintitle{
		margin: 0px 0px 0px 5px !important;
	}
	#address, #phone, #openhour, #price{
		margin: 0px 0px 0px 15px !important;
	}
	#save_products{
		margin-left: 15px !important;
	}
	#delete_save_products {
    margin-left: 15px !important;
}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}