
a{text-decoration:none;}
.txt-rt{text-align:right;}
.txt-lt{text-align:left;}
.txt-center{text-align:center;}
.float-rt{float:right;}
.float-lt{float:left;}
.clear{clear:both;}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.vertical-base{	vertical-align:baseline;}
.vertical-top{	vertical-align:top;}
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}
nav.vertical ul li{	display:block;}
nav.horizontal ul li{	display: inline-block;}
img{max-width:100%;}

@font-face {
    font-family: 'Ubuntu Condensed', sans-serif;
    src:url(../font/Amble-Regular-webfont.ttf) format('truetype');
}
body {
}
.wrap {
	width:80%;
	margin: 0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
}
.header {
	background:url("/images/Keyboard-l.jpg");
	padding:20px 0;
}
.header_top {
	padding-bottom:25px;
}
.logo {
	float: left;
}
.header_top_right{
	float:right;
	padding-top:10px;
}

/** Navigation **/
.navigation{
	background:#e44f2b;
	padding:5px 0;
	position:relative;
}
.navigation span.left-ribbon{
	position: absolute;
	left: -40px;
	top: 8px;
	width: 40px;
	height:60px;
	background: url(../images/left-fold.png) no-repeat;
	}
.navigation span.right-ribbon{
	position: absolute;
	right: -40px;
	top: 8px;
	width: 40px;
	height:60px;
	background: url(../images/right-fold.png) no-repeat;
}
.toggleMenu {
    display:  none;
    padding:16px 15px;
    color: #fff;
    width:95%;
     border-top:1px solid #DB3C15;
     border-bottom:1px solid #DB3C15;
     background:url("../images/nav-icon.png") no-repeat 98% center;
}

.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width:11em;
}
.nav a {
    padding:16px 33px;
    color:#ffb29f;
        -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav a:hover {
	color:#FFF;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
}
.nav > li:first-child,.nav > li:last-child {
	background-image:none;
}
.nav > li {
    background-image: url("../images/line-divider.png");
    background-repeat: no-repeat;
    background-position:left;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background:#EA5E3C;
    position: relative;
    z-index:100;
    border-top:1px solid #EF7A5D;
    padding:10px;
    font-size:15px;
}
.nav li li a:hover {
	  background:#DB502E;
}
.nav li li li a {
    background:#ED6A4A;
    z-index:200;
    border-top:1px solid #EF7A5D;
}


.header_bottom{
	padding:6%  0 2%;
}
.slider-text{
	float:left;
	width:50%;
}
.slider-text h2{
	color:#e44f2b;
	font-size:40px;
}
.slider-text p{
	color:#8fa7ae;
	font-size:20px;
	margin:20px 0;
}
.slider-text a{
	background:#8fa7ae;
	display:inline-block;
	padding:8px 25px;
	font-size:20px;
	color:#23272a;
	position:relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.slider-text a:hover{
	color:#FFF;
	background:#6C9BA9;
}
.slider-text a:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	border-width:22px 0px 18px 8px;
	border-style:solid;
	border-color:rgba(255, 0, 0, 0) rgba(0, 0, 255, 0) rgba(0, 128, 0, 0) #23272a;
}
.slider-text a:before{
    content:'';
	position:absolute;
	right:0;
	top:0;
	border-width:21px 8px 18px 0px;
	border-style:solid;
	border-color:rgba(239, 0, 0, 0) #23272a rgba(0, 128, 0, 0) rgba(35, 39, 42, 0);
}
.slider-img{
	float:right;
	width:42%;
}
.slider-img img{
	margin-top:-60px;
}
/**** Responsive Layout ****/
@media only screen and (max-width: 1366px) {
	.wrap{
		width:90%;
	}
    #line-name{
        display:none;
    }
    #Search-li{
        float:right;
        width:25%;
        margin-right:10px;
    }

        
}
@media only screen and (max-width: 1280px) {
   
}
@media only screen and (max-width: 1024px) {
    #Search-li{
        float:right;
        width:25%;
        margin-right:10px;
    }

    .wrap {
		 width: 95%;
	}
	.nav a{
	  padding:16px 20px;
	}
	.navigation{
		margin:0 30px;
	}
	.nav li li a{
		font-size:14px;
	}
	.nav ul{
		width:9em;
	}
	.nav > li > a{
		font-size:14px;
	}
	.slider-img img{
		margin-top:-50px;
	}
	.slider-img{
		width:50%;
	}
	.span_1_of_2{
		width:100%;
	}
	.span_3_of_1{
		width:100%;
		padding:0;
		border-left:none;
	}
	.rightsidebar{
		margin:0;
	}
	.contact-form input[type="text"].textbox{
		width:29.3%;
	}
}

@media only screen and (max-width: 800px) {

	.nav {
		border-bottom:none;
		border-top:none;
	}
	.nav ul{
		width:100%;
	}
	.header_bottom{
		padding:6% 0 0% 0; 
	}
	.slider-text h2{
		font-size:25px;
	}
	.slider-text p{
		font-size:15px;
	}
	.slider-img img{
		margin-top:-20px;
	}
	.header_top{
		padding-bottom:10px;
   }
   .nav > li > a{
   	padding:10px;
   }
   .content-bottom-left,.content-bottom-right {
   	 float:none;
   	 width:100%;
   	 padding-right:0;
   }
   .content-bottom-right{
   	 padding-left:0;
   	 border-left:none;
   	 margin-top:15px;
   }
   .content_top{
   	padding:1em 0;
   }
   .add-banner{
   	 padding:1% 5%;
   	 margin-top:10px;
   }
   .span_3_of_2 {
		width: 54.2%;
	}
	.images_3_of_2{
		width:43.2%;
	}
	.contact-form input[type="text"].textbox,.contact-form input[type="text"], .contact-form textarea{
		width:96%;
		margin-left:0;
	}
	.product-specifications li span{
		width:46%;
	}
        #line-name{
        display:block;
    }
    #Search-li{
        float:right;
    }
    #Search-li2{
        position:absolute;
        width: 70%;
        margin: 6px 14%;
        display:block;
    }
    .float-item{
        float:none !important;
    }
}
@media screen and (max-width: 768px) {
    #line-promotion{
        display:block;
    }
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("/images/nav-arrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav > li.show-menu {
    	 background-image: url("../images/nav-arrow.png");
    	 background-position:96% 55%;
    }
    .nav > li > .parent{
    	background-position:96% 55%;
   }
    #Search-li{
    float:left;
    margin-left:10px;
    width: 80%;
    display:none;
    }
   #Search-li2{
    position:absolute;
    width: 70%;
    margin: 6px 14%;
    display:block;
    }
}

@media only screen and (max-width: 640px) {
    #line-promotion{
        display:none;
    }
	.logo{
		width:32%;
	}
	.header_top_right{
		padding-top:0;
	}
	.header{
		padding:8px 0;
	}
	.toggleMenu{
	  width:94%;
	}
	.slider-text h2{
		font-size:22px;
	}
	.header_bottom{
		padding:3% 0 0 0;
	}
	.slider-text p{
		margin:15px 0;
	}
	.navigation{
		margin:0 7%;
	}
	.slider-text a{
	 font-size:15px;
	}
	.slider-text a:before {
		border-width:17px 8px 18px 0px;
	}
	.slider-text a:after{
		border-width:17px 0px 18px 8px;
	}
	.ocarousel,.content_bottom{
		padding-top:10px;
	}
	.buters-guide{
		margin-top:10px;
	}
	.span_3_of_2{
		width:100%;
	}
	.desc{
		margin:0;
	}
    #Search-li{
        float:left;
    }
    #Search-li2{
        position:absolute;
        width: 70%;
        margin: 6px 14%;
        display:block;
    }
}
@media only screen and (max-width: 480px) {

  .logo {
		width: 35%;
		margin-top: 2px;
	}
	.toggleMenu {
       width:92%;
       padding:8px 15px;
    }
    .slider-text h2{
    	font-size:20px;
    }
    .slider-text p{
    	margin:8px 0;
    	font-size:14px;
    }
    .navigation span.left-ribbon{
    	background-size:70%;
    	left:-28px;
    }
    .navigation span.right-ribbon{
    	background-size:70%;
    }
    .slider-text{
    	width:70%;
    }
    .slider-img{
    	width:30%;
    }
    .slider-img img{
    	margin-top:0;
    }
    .header_bottom{
    	padding:3% 0;
    }
    .ocarousel_window_slides a{
    	padding:0 20px;
    }
    .images_1_of_4{
    	width:44.72%;
    }
    .copy_right,.footer-nav{
    	float:none;
    	text-align:center;
    }
    .footer-nav{
    	margin-top:20px;
    }
    .map iframe{
    	height:150px;
    }
    .images_3_of_2{
    	width:100%;
    }
    .contact-form input[type="text"].textbox,.contact-form input[type="text"], .contact-form textarea{
		width:92%;
	}
	.your-review input[type="text"], .your-review textarea{
		width:93%;
	}
	#Search-li2{
        position:absolute;
        width: 56%;
        margin: 0 22%;
        display:block;
    }
}

@media only screen and (max-width:325px) {
	.logo{
		float:none;
		margin:0 auto;
		text-align:center;
		width:50%;
	}
	.header_top_right{
		float:none;
		text-align:center;
		margin-top:5px;
	}
	.navigation{
		margin:0 10%;
	}
   .toggleMenu{
   	 width:88%;
   }
   .footer-nav li a{
   	 margin:0 4px;
   }
   .footer-nav{
   	margin-top:10px;
   }
   .product-specifications li span{
   	 width:92%;
   }
   .slider-text,.slider-img{
   	width:100%;
   	text-align:center;
   }
   	#Search-li2{
        position:absolute;
        width: 50%;
        margin: 0 19%;
        display:block;
    }
}
