.main{
	background-color: #f6f6f6 !important;
	width: 100% !important;
}

.menuview{
	background-color: #ECECEC;
	margin-left: 0px !important;
}
.menuview li{
	margin: auto;
	height: 50px;
	text-align: center;
}
.menuview li a{
	line-height: 2.7;
	font-size: 20px;
}
.menuview a:hover{
	text-decoration: none;
	color: red;
	cursor: pointer;
}

.active {
	color: red;
}
.menuview a:active{
	color: red;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.product{
	margin-top: 20px;
	margin-bottom: 20px;
}

.head{
	background-color: #ECECEC;
	color: #03ae03;
	font-weight: bold;
}
.point p{
	text-align: center;
}

/*========== Mobile First Method ==========*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.menuview{
		width: 100%;
	}
	.point p{
		font-size: 20px !important; 
		position: relative;
		right: 5px;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.menuview{
		width: 100%;
	}
	.point p{
		font-size: 25px !important; 
	}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 990px) {
	.menuview{
		width: 96% !important;
		position: relative;
		left: 13px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.head{
		height: 70px;
	}
	.point p{
		font-size: 20px; 
	}
	.product{
		height: 300px;
		font-size: 16px;
	}
	.head{
		height: 90px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menuview{
		width: 98% !important;
		position: relative;
		left: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.point{
		height: 60px !important;
	}
	.point p{
		font-size: 45px; 
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.menuview{
		width: 98% !important;
		position: relative;
		left: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.point{
		height: 60px !important;
	}
	.point p{
		font-size: 45px; 
	}
}