﻿/*Sign up style css */
.signup_form{
	background: #fdfdfd;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding:0 15% 30px;
}
.signup_form button{
	width: 100%;
}
.signup_form .col-md-6{
	padding: 0;
}
.signup_form #fname{
	padding-right: 10px;
}
.signup_form #lname{
	padding-left: 10px;
}
 .active_wait_bg{
    opacity:1 !important;
    pointer-events:inherit !important;
}

/*Profile style css */
.wrap{
    width: 100%;
    position: relative;
    min-height: 100%;
    background: #f1f1f1;

}
.acc-menu {
    position: absolute;
    width: 270px;
    min-height: 100%;
    background: #2b303b;
    color: #788195;
    z-index: 99;
}
.acc-menu nav{
    overflow: hidden;
    width: 270px;
    padding: 0;
}
.acc-menu #menu-link{
    display: none;
}
.acc-menu .ava-wrap{
    text-align: center;
    padding-top: 47px;
}
.acc-menu .ava-wrap .img-wrap{
    display: block;
    width: 160px;
    height: 160px;
    border: 5px solid rgba(120, 129, 149, 0.19);
    margin: auto;
    border-radius: 100%;
    margin-top: -20px;
}
.acc-menu .ava-wrap .img-wrap img{
    width: 150px;
    height: 150px;
    padding: 5px;
    opacity: 0.7;
    border-radius: 100%;
}
.acc-menu .ava-wrap .img-wrap img:hover{
    transform: scale(1.1);
    opacity: 0.5;
    transition-duration: 0.5s;
}
.acc-menu .ava-wrap .acc-info{
    margin-top: 10px;
}
.acc-menu .ava-wrap .acc-info h1{
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
    margin: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.acc-menu .ava-wrap .acc-info h4 {
    text-align: center;
    font-size: 13px;
    margin: 10px 0;
    font-weight: 300;
    text-transform: uppercase;
}
.acc-menu .ava-wrap .acc-info h6 {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin: 7px 0;
}
.acc-menu .ava-wrap .acc-info h6 .fa {
    font-size: 17px;
}
.acc-menu .menu-header{
    position: relative;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 44px;
    text-align: center;
    background: #262A34;
}
.acc-menu .menu-header h1{
    font-size: 19px;
    line-height: 220%;
    text-align: center;
    font-weight: 300;
    margin: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.acc-menu .separator-aside {
    display: block;
    border-top: 1px solid #606777;
    height: 0;
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    opacity: 0.4;
}
.acc-menu nav .tab-container{
    position: relative;
}
.acc-menu nav .tab-container a{
    display: block;
    padding: 3px 25px;
    outline: none;
    width: 260px;
    text-decoration: none;
    color: #788195;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.acc-menu nav .tab-container .active-sec{
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.acc-menu nav .tab-container a:active{
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.acc-menu nav .tab-container a:active .fa{
    background: #788195;
    color: #2b303b;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.acc-menu nav .tab-container a:hover{
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.acc-menu nav .tab-container a:hover .fa{
    background: #788195;
    color: #2b303b;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.acc-menu nav .tab-container .menu-name{
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    font-family: Montserrat;
    text-transform: uppercase;
}
.acc-menu nav .tab-container a .fa{
    font-size: 21px;
    width: 40px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #21252d;
    color: #788195;
    position: relative;
    left: 0;
    float: right;
}
.acc-menu .menu-footer{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 44px;
    text-align: center;
    background: #262A34;
}
.acc-menu .menu-footer a{
    width: 25px;
    height: 25px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    margin: 0 2px;
    background: #2b303b;
    display: inline-block;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.acc-menu .menu-footer a{
    color: #fff;
}

.acc-content{
    z-index: 1;
    width: 100%;
    min-height: 700px;
    height: auto;
    background:#f0f0f0;
    padding-left: 270px;
}
.clrfooter{
    clear: both;
}
.acc-content .content-header{
    background: #006666;
    color: #fff;
    position: relative;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding-left: 30px;
}
.acc-content .content-header i{
    margin-right: 10px;
    color: #788195;
    padding: 5px 10px;
    border-style: 10px solid #004444;
    border-radius: 10px;
    background: #003333;
}
.acc-content .content-header h1{
    font-family: 'Open Sans' Montserrat;
    color: #d1d1d1;
    margin: 0;
    padding: 0;
    line-height: 200%;
}
.acc-content .profile-content{
    margin: 50px;
    background: #fff;
    padding: 10px 20px 30px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}
.acc-content .profile-content h3{
    border-bottom: 1px solid #e9ebee;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #456789;
}
.acc-content .profile-content .list-container{
    position: relative;
    min-height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e9ebee;
}
.acc-content .profile-content .list-container button{
    margin-top: -5px;
    position: relative;
    float: right;
    right: -15px;
    display: none;
    width: 70px;
}
.acc-content .profile-content i{
    margin-right: 10px;
    color: #ababab;
}
.acc-content .profile-content label{
    color: #90949c;
}
.acc-content .profile-content input{
    color: #90949c;
    border: none;
    background: rgba(0,0,0,0);
}
.acc-content .profile-content input:hover{
    background-color: #e6ffff;
}
.acc-content .profile-content i{
    color: #465789;
}
.acc-content .profile-content a{
    color: #465789;
    position: relative;
    float: right;
    padding-right: 10px;
}
.acc-content .profile-content a:hover{
    text-decoration: underline;
    color: #789abc;
}
.acc-content .pages-wrap{
    padding: 50px;
}
.acc-content .pages-content{
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding: 30px;
}
.acc-content .pages-content .saved-dishes{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.acc-content .pages-content .saved-dishes img{
    padding: 10px;
    background: #f1f1f1;
    width: 120px;
    display: block;
    float: left;
    height: auto;
}
.acc-content .pages-content .saved-dishes .dish-info{
    width: 60%;
    float: left;
    padding: 0 20px;
    font-family: "Open Sans";
}
.acc-content .pages-content .saved-dishes .dish-info h3{
    font-size: 20px;
    color: #cf9b67;
    margin: 9px 0 12px;
    font-family: "Oswald";
    font-weight: 480;
    letter-spacing: 0.5px;
}
.acc-content .pages-content .saved-dishes .dish-info p{
    line-height: 22px;
    font-size: 14px;
    color: #6b6b6b;
}
.acc-content .pages-content .saved-dishes .score{
    position: absolute;
    right: 15px;
    display: block;
    width: 92px;
    height: 92px;
    line-height: 92px;
    border: 1px solid #ededed;
    border-radius: 100%;
    color: #5e5e5e;
    font-size: 26px;
    font-family: "Oswald";
    text-align: center;
    letter-spacing: .5px;
}
.acc-content .pass-change-form{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 20px 50px 50px;



}
/*========== Non-Mobile First Method ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1366px) {
    .acc-content .pages-wrap{
        padding: 30px;
    }
    .acc-content .pages-content{
        padding: 20px;
    }
}
@media only screen and (max-width : 1200px) {
	
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.signup_form #fname, .signup_form #lname{
		padding: 0;
	}
	
}
@media only screen and (max-width : 880px) {
    .acc-menu {
        position: relative;
        width: 100%;
        height: 380px;
    }
    .acc-menu .ava-wrap{
        width: 40%;
        position: relative;
        float: left;
    }
    .acc-menu nav{
        padding-top: 10px;
        width: 60%;
        position: relative;
    }
    .acc-menu nav .tab-container a{
        margin-left: auto;
        margin-right: auto;
    }
    .acc-content .pages-wrap{
        padding: 30px 10px;
    }
    .acc-content .profile-content{
        margin: 30px 10px;
    }
    .acc-content .pass-change-form{
        margin: 30px 10px;
    }
    .acc-content{
        padding: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 
}
@media only screen and (max-width : 600px) {
    .acc-menu {
        height: 530px;
    }
    .acc-menu .ava-wrap{
        width: 100%;
        clear: left;
    }
    .acc-menu nav{
        width: 100%;
    }
    .acc-menu nav .tab-container{
        text-align: center;
    }
    .acc-menu nav .tab-container a{
        margin: 0;
        display: inline-block;
        width: 50px;
        padding: 0;
    }
    .acc-menu nav .tab-container a .menu-name{
        display: none;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.acc-content .profile-content .list-container .col-xs-4{
        display: none;
    }
    .acc-content .profile-content .list-container .col-xs-8{
        width: 100%;
    }
    .acc-content .pages-content .saved-dishes img{
        display: none;
    }
    .acc-content .pages-content .saved-dishes .score{
        display: none;
    }
    .acc-content .pages-content .saved-dishes .dish-info{
        width: 100%;
    }
    .acc-content .content-header i{
        display: none;
    }
    .acc-content .content-header{
        text-align: center;
        padding: 0;
    }
    .acc-content .pass-change-form button{
        width: 100%;
    }
    .acc-content .pass-change-form{
        padding: 0 30px 30px;
    }
    .acc-content .profile-content h3{
        font-size: 20px;
    }
    .acc-content .profile-content .list-container i{
        display: none;
    }
    .acc-content .profile-content .list-container button{
        width: 50px;
    }
    .acc-content .profile-content .list-container input{
        width: 70%;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}