/*Footer css */
footer {
	width:100%;
	background-color:#222222;
	padding:90px 0px 60px;

}

footer p {
	color:white;	
}

footer h6 {
	font-size:24px;
	font-weight:100;
	color:white;
	display:block;
	overflow:hidden;
	padding:0px 0 15px 10px;
	line-height:30px;
	margin:0px 0px 25px 0px;
	border-bottom:3px solid #EF5438;
	font-weight: bold;
}


.footer-content p {
	font-size:13px;
	color:white;
	line-height:24px;
	font-family:'Open sans';
	margin:10px 0 0 0;
	padding:0px;
	text-align: justify;
}

.footer-btns {
	list-style:none;
	padding:0;
	overflow:hidden;
	display:table;
	margin:15px auto 0 auto;
}

.btn-link {
	width:auto;
	height:auto;	
	background-color:white;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-decoration:none;
	text-transform:uppercase;
	font-family:'Open sans';
	font-size:14px;
	font-weight:bold;
	color:white !important;
	margin:8px 0px;
	text-align:center;
	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	
	transition:all 0.4s;
	-moz-transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-o-transition:all 0.4s;
}


.btn-link.small {
	padding:10px 0px;
}

.btn-link.btn-fb {
	background-color:#EF5438;
}

.btn-link.btn-gg {
	background-color:#44619d;
}

.btn-link.btn-tw {
	background-color:#0099cc;
}

.btn-link.btn-yt {
	background-color:#cc0000;
}

.btn-link:hover, .btn-link.transparent:hover {
	color:#fff;
	background:#333;
}
footer .list-group-item{
	background-color: #222222 !important;
	border: none;
	margin: 15px 15px 15px 10px;
	padding:0;
}

footer .list-group-item a{
	color: white;
}

footer.list-group-item img{
	height: 100%;
	width: 100%;
	border-radius: 1px;
}

footer .list-group-item img:hover{
	transform: scale(1.1);
	opacity: 0.8;
	transition-duration: 0.3s;
}

@media only screen and (min-width : 900px) {
	.articletitle{
		word-wrap: break-word;
		position: relative;
		left: 20px;
	}
}
