﻿header{
    background-image: url(../image/header-gradient.png);
    background-repeat: repeat-x;
    background-position: 0px -50px;
    padding: 40px 0;
    width: 100%;
    height: 170px;
    z-index: 9999;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
 
}
#myNavbar ul li a:hover{
    color:red;
}
.navbar-brand {
    padding: 0;
}
.dropbtn {
    cursor: pointer;
}
.clr{
    clear:both;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    list-style:none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    margin-left: 20px;
    color: white;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: red;

}

.dropdown:hover .dropdown-content {
    display: block;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.dropdown ul li {
   
    border-bottom: 1px solid #f1482b;
}
.icon-dropdown:before {
    content: "\f105" !important;
    color: #f1482b;
    font-family: 'FontAwesome';
    position:absolute;
    margin-top: 11px;
}
.dropdown ul li:last-child {
    border-bottom: 0px solid #f1482b;
}
/*========== Non-Mobile First Method ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar-brand {
    padding: 15px 15px;
    }
    .navbar-inverse .navbar-collapse {
        margin-top: 22px;
        border:0;
    }
    .dropdown-content {
        position:relative;
        width:25%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

.footer {
	width:100%;
	background-color:#121212;
	padding:60px 0px;
	background-repeat:no-repeat;
}

.footer p {
	color:white;	
}

.footer h6 {
	font-size:16px;
	font-weight:100;
	color:white;
	font-family:'Cantata One';
	display:block;
	overflow:hidden;
	padding:0px 0 15px 0;
	line-height:30px;
	margin:0px 0px 25px 0px;
	border-bottom:3px solid #EF5438;
}


.footer-content p {
	font-size:13px;
	color:white;
	line-height:24px;
	font-family:'Open sans';
	margin:10px 0 0 0;
	padding:0px;	
}

.footer-btns {
	list-style:none;
	padding:0;
	overflow:hidden;
	display:table;
	margin:15px auto 0 auto;
}

.btn-link {
	width:auto;
	height:auto;	
	background-color:white;
	min-width:100px;
	width: 100%;
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	font-family:'Open sans';
	font-size:14px;
	font-weight:bold;
	color:white !important;
	margin:8px 0px;
	text-align:center;
	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	
	transition:all 0.4s;
	-moz-transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-o-transition:all 0.4s;
}


.btn-link.small {
	padding:7px 17px;	
}

.btn-link.btn-fb {
	background-color:#EF5438;
}

.btn-link.btn-gg {
	background-color:#44619d;
}

.btn-link.btn-tw {
	background-color:#0099cc;
}

.btn-link.btn-yt {
	background-color:#cc0000;
}

.btn-link:hover, .btn-link.transparent:hover {
	color:white;
	background-color:#333;
}



