/* Home css */
#main-content{
	background:#f1f1f1;
	box-shadow:0px 0px 5px 0px #ccc;
	padding:30px;
	margin: -52px auto;
	position:relative;
	z-index:1;
}

#main-content p, li{
	font-size: 14px;
	color: #777;
}

.top_dish{
	margin-top: 30px;
}

.dishes {
	padding: 50px 20px 15px 20px;
	border: 10px solid #f2f2f2;
	border-radius: 25px;
	background: #fdfdfd;
	height: 400px;
	margin-bottom: 80px;
	overflow: hidden;
	text-align: center;
}

.dishes h3{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #9b344e;
}

.dishes h4{
	font-size: 18px;
	padding: 0 30px;
}

.dishes p{
	text-align: left;
}

.dishes img{
	width: 90%;
	height: 60%;
	margin: 0 auto;
	border-radius: 30px;
}

.dishes img:hover{
	transform: scale(1.1);
	opacity: 0.8;
	transition-duration: 0.5s;
}

.dishes i{
	position: absolute;
 	left: 50%;
 	top: -50px;
 	width: 100px;
 	height: 100px;
 	border: 10px solid #f2f2f2;
 	margin-left: -50px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
 	border-radius: 100%;
 	background: #cf9b67;
 	color: #fff;
 	font-size: 28px;
 	text-align: center;
 	line-height: 80px;
}

.title-container{
	height: 100px;
	background: #f3c76f;
	padding:15px;
	position: relative;
	margin-bottom: 100px;
}

.title-container hr{
	height: 3px;
	background:#666;
}

.title{
	height: 100%;
	background:#333;
	border:4px double #f3c76f;
	padding: 10px 100px;
	border-radius: 10px;
}

.title h1{
	color:#fff;
	font-size:35px;
	font-family: serif;
	display:inline;
	padding:0px;
	margin: 0;
	text-transform: uppercase;
	line-height: 1.4;
}

.title .btn-title{
	float: right;
	text-transform: uppercase;
	height: 100%;
	font-size: 18px;
	line-height: 2.3;
	padding: 0 20px;
}

.title .btn-title:hover{
	background: #333;
	color: #fff;
}

.title i{
	padding-left: 15px;
}

.news{
	padding: 10px 0;
	border: 10px solid #f2f2f2;
	border-radius: 25px;
	background: #fdfdfd;
	height:	230px;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: -20px;
}

.news img{
	width: 100%;
	height: 150px;
	border-radius: 5px;
	padding: 10px;
	background: #eee;
}

.news img:hover{
	transform: scale(1.1);
	opacity: 0.8;
	transition-duration: 0.3s;
}

.news h3{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
	padding-left: 20px;
}

#clear{
	clear: both;
}

/*========== Non-Mobile First Method ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.dishes{
		height: 100%;
	}
	.dishes img{
		height: 250px;
	}
	.news{
		height:	200px;
	}
	.news img{
		height: 120px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.title{
		text-align: center;
	}
	.title .btn-title{
		float: none;
		width: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
		height: 45%;
	}
	.title-container{
		height: 150px;	
	}
	.dishes img{
		height: 200px;
	}
	.news{
		padding: 20px;
		height: 100%;
	}
	.news img{
		height: auto;
		margin-bottom: 10px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.dishes img{
		width: 70%;
		height: 70%;
	}
	.dishes{
		height: 100%;
	}
}
@media only screen and (max-width : 640px) {
	.title{
		padding-left: 0px;
		padding-right: 0px;	
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title{
		padding-left: 15%;
		padding-right: 15%;
	}
	.title-container{
		height: 200px;	
	}
	.title .btn-title{
		height: 29%;
	}
	.title h1{
		font-size: 33px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.title{
		padding:5px 10px;
	}
	
}





