﻿.news-background{
    background: #f6f6f6;
    background-size: 100% auto;
    padding-top:40px;
}
.color-news{
   background-color: #fff;
   margin-right:-10px;
}
#search-news-input{
    float:left;
    width:75%;
    margin-left:15px;
    margin-top:20px;
    margin-bottom:20px;
}
#search-news{
    float:left;
    background:url(../images/search-icon.png) center;
    width: 40px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:2px;
}
.recent-post{
    font-family: "Grand Hotel";
    font-size: 30px;
    line-height: 74px;
    margin: 0;
    padding-left: 20px;
    padding-top: 6px;
    color: #000;
    border-bottom: 1px solid #d1d1d1;
}
ul.border-top-news li{
    list-style:none;
    border-top: 1px solid #d1d1d1;
    padding: 10px 0;
}
.img-newspost{
	 margin-right: 20px;

    float:left;
}
.title-newspost{
    
}
.news-list{
    margin-top:30px;
    margin-bottom:30px;
}
.news-items{
    margin:10px 0;
}
.news-items a{
    text-decoration:none;
}
.news-time{
    color: #949494;
}
.comment{
    color: #949494;
}
.sep{
     color: #949494;
     margin:0 10px;
}
#usr{
    float:left;
    width:45%
}
#email{
    margin-left:10%;
    float:left;
    width:45%;
}
.comment-list li{
    list-style:none;
}
.comment-info{
    font-size:12px;
    color:#949494;
}
.user-name{
	font-family: serif;
    color:blue;
    font-size:16px;
    font-weight:900;
}
.wrap-suggestion {
    padding:0;
    display: none;
    border: 1px solid #e2e2e2;
    background: #fff;
    position: absolute;
    left: 15px;
    width: 213px;
    top: 60px;
    z-index: 9;
}
.wrap-suggestion li {
    display: block;
    background: #fff;
    overflow: hidden;
    list-style: none;
    border-bottom: 1px dotted #ccc;
}
.wrap-suggestion li a {
    display: block;
    overflow: hidden;
    padding: 6px;
    color: #999;
    font-size: 12px;
}
.wrap-suggestion li a img {
    float: left;
    width: 50px;
    height: auto;
    margin: 0 6px 0 0;
}
.wrap-suggestion li a h3 {
    display: block;
    width: auto;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap-suggestion li a span.price {
    font-size: 12px;
    color: #c70100;
    float: none;
}
.wrap-suggestion:after, .wrap-suggestion:before {
        bottom: 100%;
        left: 80px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
}
.wrap-suggestion:after {
    border-color: rgba(255,255,255,0);
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}
.wrap-suggestion:before {
    border-color: rgba(218,218,218,0);
    border-bottom-color: red;
    border-width: 9px;
    margin-left: -9px;
}
.wrap-suggestion li:hover, .wrapp-producthome .wrap-suggestion li.selected, .wrap-main .wrap-suggestion li.selected {
    background: #f8f8f8;
}