/* Body css */

#main-content{
	background:#fff;
	box-shadow:0px 0px 5px 0px #ccc;
	padding:30px;
	margin: -40px auto;
	position:relative;
	z-index:9;
}

#main-content p{
	margin-left: 22px;
}

#main-content p, li{
	font-size: 14px;
	color: #777;
}

.contact_info .ct_content h4{
	font-size: 24px;
	color: #ef5438;
}

.contact_form {
	background: #fdfdfd;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding:0 30px 30px;
}

.title{
	color:rgb(234,128,128);
	font-size:60px;
	font-family: 'Kaushan Script';
	font-style: italic;
	width:100%;
	margin:5px 0px 10px 0px;
	display:inline-block;
}
.title h3{
	color:#333;
	font-size:35px;
	font-family: 'Merriweather';
	font-style: normal;
	display:inline;
	padding:0px;
	margin: 0;
	text-transform: uppercase;
}

/*.form-item{
	background:#fff;
	border-radius:5px;
	box-shadow:none;
	padding-left:15px;
	height:45px;
	width: 80%;
}*/

.form-area{
	background:#fff;
	border-radius:5px;
	box-shadow:none;
	padding-left:15px;
	height:45px;
}

.btn-1{
	color:#fff;
	background:#EF5438;
	text-transform:uppercase;
	padding:12px 25px;
	border-radius:5px;
	border:none;
}
.btn-1:hover,.btn-1:active,.btn-1:focus{
	background:#333;
	color:#fff;
}

/*========== Non-Mobile First Method ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
	
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.form-item{
		width: 100%;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.contact_form .title h3, .contact_info .title h3{
			font-size: 28px !important;
	}
	.contact_form .title,.contact_info .title{
		font-size: 36px !important;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}





