﻿header{
    background-image: url("../images/header/hd1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;
    width: 100%;
    height: 200px;
    z-index: 9999;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#myNavbar ul li a:hover{
    color:red;
}
.navbar-brand {
    padding: 0;
}
.navbar-inverse {
    background: rgba(0,0,0,.35)!important;
    border: 0!important;
}
.dropbtn {
    cursor: pointer;
}
.clr{
    clear:both;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    list-style:none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    margin-left: 20px;
    color: white;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: red;

}

.dropdown:hover .dropdown-content {
    display: block;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.dropdown ul li {
   
    border-bottom: 1px solid #f1482b;
}
.icon-dropdown:before {
    content: "\f105" !important;
    color: #f1482b;
    font-family: 'FontAwesome';
    position:absolute;
    margin-top: 11px;
}
.dropdown ul li:last-child {
    border-bottom: 0px solid #f1482b;
}


/*Modal style css*/

body .modal-content{
    background: #2c3e50;
    margin: 0;
}

.login_body{
    position: relative;
    width: 380px;
    background: #ecf0f1;
}
.login-container{
  background: #ecf0f1;
  width: 380px;
  border-radius: 5px;
  padding:10px;
  margin: 0 auto 50px;
}
.login-container input[type="text"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.login-container .btn_login{
  background: #1abc9c;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.login-container .btn_login:hover{
  background: #1bc6a4;
}
.login-container .form-group{
    margin: 20px 50px;
}
.login-title{
    height: 67px;
    background: #34495e;
    margin-top: 20px;
}
.login-body h6{
    text-align: center;
    color: #1bc6a4;
    margin: 0;
    padding: 0;
}
.login-title h2{
    margin: 0;
    padding: 0;
    padding: 20px;
    color: #ecf0f1;
    text-transform: uppercase;
    font-size: 32px;
    font-family: sans-serif;
    text-align: center;
}

/*========== Non-Mobile First Method ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .navbar-brand {
    padding: 15px 15px;
    }
    .navbar-inverse .navbar-collapse {
        margin-top: 22px;
        border:0;
    }
    .dropdown-content {
        position:relative;
        width:25%;
    }
    .container {
    width: 100%;
    }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .login-body{
        width: 300px;
    }
	.login-container{
        width: 300px;
    }
    .login-container .form-group{
        margin: 10px 20px;
    }

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}